extends layout

block content
  h1= title
  p Welcome to our test

  // Wrapper
  #wrapper

    // USER LIST
    h2 User List
    #userList
      table
        thead
          th UserName
          th Email
          th Delete?
        tbody
    // /USER LIST

  // /WRAPPER