extends layout

block content
  h1= title
  div(class="row")
    div(class="col-8")
        p 
            | This is the test application that is used for our load testing. It is made up of some static
            | assets (such as images and scripts) as well as some dynamic content (which is loaded via some
            | script calls to web services). 

        p
            | Additional info that is relevant to the exercise may be added here at a later date.
    
        h2 Dynamic data

        div(id="DynamicData")

    div(class="col")
        img(src="/images/AWS-reInvent-2018.png", alt="AWS re:Invent 2018", class="img-fluid")
