extends layout

block content
  h1= title
  div(class="row")
    div(class="col-8")
        p 
            | This is the test application that is used for our load testing. It is made up of some static
            | assets (such as images and scripts) as well as some dynamic content (which is loaded via some
            | script calls to web services). 

        p
            | Below is a table that is dynamically loaded from the database, calling a query that is
            | typically fairly long running. During the exercise we'll aim to improve this so that additional
            | requests can be handled by the web server.

        table(class="table table-striped")
            thead
                tr
                    th(scope="col", style="width:60%") Product Name
                    th(scope="col", style="width:20%") Product ID
                    th(scope="col", style="width:20%") Number of reviews
            tbody(id="DynamicData")
                th(scope="row")
                    img(src="/images/loading.gif", alt="Loading animation", class="img-fluid")

    div(class="col")
        img(src="/images/DeckAssets_allup_light_graphs.jpg", alt="Generic image of tools and graphs", class="img-fluid")
